<div class="panel panel-default" align="center">
  <div class="panel-heading"><h1 align="center">Need Help?</h1></div>
  <br>
  <h3>User Manual</h3>
  <p>Here is a link to our User Manual.</p>
  <hr>
  <h3>Contact Us</h3>
  <p align="center">If you have any questions, comments, or concerns, please contact the administrators of this site.</p>
<table>
  <tr>
  <td>
      
  <ul class="list-group">
  <li class="list-group-item">
    <span class="badge">acharyan@brandeis.edu</span>
    Nishan Acharya    
  </li>
  <li class="list-group-item">
      <span class="badge">msisti@brandeis.edu</span>
      Michelle Sisti
  </li>
</ul>
    </td>
    </tr>
</table>

<div class="panel-footer"></div>
</div>